/* Reset base */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo img {
  height: 30px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  display: block;
  padding: 12px 20px;
  margin: 6px 0;
  width: 80%;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  color: #0d3b1f;
  background-color: white;
  border: 1px solid #dcdcdc;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: #63A361;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}


/* Hamburguesa */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    justify-content: center; /* CENTRAR vertical */
    align-items: center;     /* CENTRAR horizontal */
    gap: 2px;
    z-index: 999;
    font-size: medium;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
